$color-primary: #c69963;
$color-primary-dark: #b28451;
$color-secondary: #101d2c;

$color-grey-light1: #f9f7f6;
$color-grey-light2: #aaa;

$color-grey-dark1: #54483a;
$color-grey-dark2: #6d5d4b;

$font-heading: "Abril Fatface", cursive;
$font-paragraph: "Montserrat", sans-serif;
